body {
  margin: 0;
  scroll-behavior: smooth;
}

html {
  background-color: rgb(15 23 42 / 1);
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
.snap-section {
  scroll-snap-align: center;

}